body {
  background-color: #9f9f9f;
	font-family:Tahoma;
}

.plansza {
    background-color: rgb(0, 0 0);
    background-color: rgba(0, 0, 0, 0.4);
		position:absolute;
		color: #fff;
		text-align: center;
		border-radius: 25px;
		padding : 30px;
    width: 768px;
    height: 30px;
    border: 1px solid #fff;
		left:50%;
		top:10%;
		margin:-46px 0 0 -415px;
}
