<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Mastermind</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/jquery/mastermind.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
  <div class="plansza">
  <form action="#" id="formularz">
     <input type="text" id="codeSize" placeholder="codeSize" />
     <input type="text" id="maxColors" placeholder="maxColors" />
     <input type="text" id="maxMoves" placeholder="maxMoves" />
     <input type="submit" id="przeslij" />
  </form> <br><br>

  <div id="zgadywanka">
      <div class="aqq"> </div>
      <input type="submit" id="lotto" style="display: none" />
  </div>
</div>
</body>
</html>
